<section
  class="bg-moody-blue-300 flex flex-col items-center justify-center h-full relative"
  id="sobre-mi"
>
  <div class="absolute inset-0 flex flex-col md:flex-row">
    <div class="md:w-1/2 bg-moody-blue-300"></div>
    <div class="md:w-1/2 bg-moody-blue-100"></div>
  </div>

  <div
    class="max-w-7xl px-4 md:px-8 grid grid-cols-1 md:grid-cols-2 relative z-10 mb-10"
  >
    <div
      class="bg-moody-blue-300 flex items-center w-full mt-10"
      data-aos="zoom-out"
    >
      <img
        src="/images/Catalina_juegos.webp"
        alt="Foto de Catalina Herrera con piernas cruzadas, con juegos y sonriendo"
        class="object-cover md:pr-10 rounded-lg w-full"
        loading="lazy"
      />
    </div>

    <article class="h-full w-full bg-moody-blue-100">
      <div class="flex flex-col gap-10 py-20 px-10">
        <h1 class="text-3xl font-bold text-center">Sobre mí</h1>
        <p class="text-gray-800 text-lg">
          Me llamo <span class="text-moody-blue-700 font-semibold"
            >Catalina Herrera</span
          >, y llevo realizando atenciones desde el 2023. Inicialmente empecé
          con trabajos a domicilio, prontamente cambié a trabajos dentro de una
          fundación y, actualmente, me encuentro trabajando en un centro
          infantil de la comuna de <span
            class="font-semibold text-moody-blue-700">Maipú</span
          >.
        </p>

        <p class="text-gray-800 text-lg">
          Cuento con amplia experiencia desde el área <span
            class="font-semibold text-moody-blue-700"
          >
            infanto-juvenil</span
          >, con certificaciones atingentes al caso, y los niños con
          dificultades que más he atendido son con diagnóstico o sospecha de
          <span class="font-semibold text-moody-blue-700"
            >Trastorno del Espectro Autista</span
          >, <span class="font-semibold text-moody-blue-700"
            >Trastorno de Déficit atencional con Hiperactividad</span
          >, <span class="font-semibold text-moody-blue-700">
            Trastornos sensoriales</span
          >, <span class="font-semibold text-moody-blue-700">
            Selectividad Alimentaria</span
          >, <span class="font-semibold text-moody-blue-700">
            Síndrome de Down</span
          >, y un muy grande etcétera.
        </p>

        <p class="text-gray-800 text-lg">
          Mis métodos de intervención se basan principalmente en el <span
            class="font-semibold text-moody-blue-700">juego</span
          >, donde potencio las habilidades del infante/joven con actividades
          <span class="font-semibold text-moody-blue-700"
            >lúdicas y entretenidas</span
          >, fomentando tanto su motivación como el trabajo guiado.
        </p>

        <p class="text-gray-800 text-lg">
          En resumen, ayudo a cada niño con diversas dificultades a que se
          desenvuelva lo mejor posible en su vida diaria, siempre velando por su
          bienestar y apoyando no solo a la persona a tratar, sino que también a
          sus redes, ya sea familia, escuela, entre otros.
        </p>

        <p class="text-gray-800 text-lg">
          Si estás buscando apoyo terapéutico, estaré muy feliz de ayudarte.
          ¡Puedes escribirme para cualquier consulta!
        </p>
      </div>
    </article>
  </div>
</section>
