---
import AreasCard from "./ui/AreasCard.astro";
import Integration from "/public/icons/sensorial.png";
import Inspiration from "/public/icons/inspiration.png";
import Lifestyle from "/public/icons/lifestyle.png";
import Psychomotricity from "/public/icons/psychomotricity.png";
import Baby from "/public/icons/baby.png";
import Family from "/public/icons/family.png";

const areas = [
  {
    title: "Integración sensorial",
    alt: "Imagen de un dibujo agradable de un cerebro relajado",
    description:
      "Ayudo a integrar y organizar las sensaciones del cuerpo mediante el entrenamiento de los sentidos. Ideal para niños con Trastorno de Integración Sensorial, Selectividad Alimentaria, entre otros diagnósticos.",
    icon: Integration,
  },
  {
    title: "Estimulación Cognitiva",
    alt: "Imagen dibujo de una niña que tiene una ampolleta en la cabeza",
    description:
      "Contribuyo en potenciar las funciones cerebrales que involucran la atención, memoria, habilidades de planificación.",
    icon: Inspiration,
  },
  {
    title: "Entrenamiento de actividades de vida diaria",
    alt: "Imagen dibujo de una niña que tiene íconos de actividades de la vida diaria",
    description:
      "Influyo en habilidades necesarias para realizar actividades vitales para el desempeño ocupacional diario.",
    icon: Lifestyle,
  },
  {
    title: "Psicomotricidad",
    alt: "Imagen dibujo de una niña en una mesa con juegos",
    description:
      "Colaboro en potenciar el desarrollo físico, cognitivo y emocional del niño principalmente mediante actividades lúdicas.",
    icon: Psychomotricity,
  },
  {
    title: "Estimulación temprana",
    alt: "Imagen dibujo de un bebé",
    description:
      "Utilizo técnicas para lograr un óptimo desarrollo infantil desde su nacimiento, potenciando el área física, intelectual, emocional y social.",
    icon: Baby,
  },
  {
    title: "Servicios de Psicoeducación",
    alt: "Imagen dibujo de una familia",
    description:
      "Entrego conocimientos a padres, niños, colegios, cuidadores y cualquier entidad vital para el desarrollo del niño respecto a diagnóstico, tips de manejo, entre otros.",
    icon: Family,
  },
];
---

<section
  class="bg-moody-blue-50 flex flex-col justify-center h-full"
  id="areas"
>
  <div class="max-w-7xl px-4 md:px-8 flex flex-col h-full mt-20 gap-6 mx-auto">
    <div class="w-full">
      <h1 class="text-3xl font-bold text-center">Áreas de Intervención</h1>
      <p class="text-gray-800 text-center">
        Ofrezco una variedad de servicios terapéuticos adaptados a las
        necesidades específicas de cada niño
      </p>
    </div>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 mb-20">
      {areas.map((area) => <AreasCard {...area} />)}
    </div>
  </div>
</section>
