---
import Button from "./common/Button.astro";
import WhatsappButton from "./common/WhatsappButton.astro";
---

<section
  class="w-full bg-white py-20 max-w-7xl px-4 md:px-8 mx-auto"
  id="contacto"
>
  <div class="w-full flex flex-col gap-10 items-center justify-center">
    <div class="flex flex-col gap-5 items-center justify-center">
      <h1 class="text-3xl font-bold">Contactáme</h1>
      <p class="text-gray-800 max-w-xl text-center">
        ¿Tienes alguna pregunta o necesitas ayuda? ¡No dudes en escribirme!, con
        gusto te ayudaré 😊. También puedes contactarme directamente por
        WhatsApp para una respuesta más rápida.
      </p>
    </div>

    <div
      class="w-full max-w-xl p-10 rounded-xl bg-moody-blue-50 shadow-lg flex flex-col gap-10"
    >
      <WhatsappButton
        href="https://api.whatsapp.com/send?phone=56992194020"
        text="Contáctame por WhatsApp"
        textClass="text-sm text-center"
      />

      <div class="flex relative justify-center">
        <div class="border-t border-gray-300 w-full"></div>
        <span
          class="text-gray-800 text-sm absolute -translate-y-1/2 bg-moody-blue-50 px-2"
        >
          O completa el formulario
        </span>
      </div>
      <form class="flex flex-col gap-5" id="contacto-form">
        <div class="flex flex-col gap-2">
          <label for="nombre" class="text-gray-800">Nombre</label>
          <input
            type="text"
            id="nombre"
            class="w-full rounded-2xl py-2 px-3 text-gray-800 border border-moody-blue-200 focus:outline-none focus:border-moody-blue-500 focus:border-2"
            placeholder="Juan Pérez"
          />
          <span class="text-red-500 text-sm hidden" id="nombre-error"
            >El nombre es obligatorio</span
          >
        </div>

        <div class="flex flex-col gap-2">
          <label for="email" class="text-gray-800">Email</label>
          <input
            type="email"
            id="email"
            class="w-full rounded-2xl py-2 px-3 text-gray-800 border border-moody-blue-200 focus:outline-none focus:border-moody-blue-500 focus:border-2"
            placeholder="juanperez@ejemplo.com"
          />
          <span class="text-red-500 text-sm hidden" id="email-error"
            >El email no es válido</span
          >
        </div>

        <div class="flex flex-col gap-2">
          <label for="mensaje" class="text-gray-800">Mensaje</label>
          <textarea
            id="mensaje"
            class="w-full rounded-2xl py-2 px-3 text-gray-800 border border-moody-blue-200 focus:outline-none focus:border-moody-blue-500 focus:border-2 resize-none"
            rows="5"
            placeholder="Escribe aquí tu mensaje"></textarea>
          <span class="text-red-500 text-sm hidden" id="mensaje-error"
            >El mensaje es obligatorio</span
          >
        </div>

        <Button text="Enviar" type="submit" />
      </form>
    </div>
  </div>
</section>

<script>
  import { actions } from "astro:actions";
  import { toast } from "sonner";

  const EMAIL_REGEX = /^[a-zA-Z0-9._%±]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$/;
  const form = document.getElementById("contacto-form") as HTMLFormElement;
  const submitter = document.querySelector(
    "button[type='submit']",
  ) as HTMLButtonElement;

  const nombreError = document.getElementById(
    "nombre-error",
  ) as HTMLSpanElement;
  const emailError = document.getElementById("email-error") as HTMLSpanElement;
  const mensajeError = document.getElementById(
    "mensaje-error",
  ) as HTMLSpanElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const nombre = form.nombre.value;
    const email = form.email.value;
    const mensaje = form.mensaje.value;

    if (nombre.length === 0) {
      nombreError.classList.remove("hidden");
      form.nombre.classList.add("border-red-500");
    }

    if (!EMAIL_REGEX.test(email)) {
      emailError.classList.remove("hidden");
      form.email.classList.add("border-red-500");
    }

    if (mensaje.length === 0) {
      mensajeError.classList.remove("hidden");
      form.mensaje.classList.add("border-red-500");
    }

    if (
      nombre.length === 0 ||
      EMAIL_REGEX.test(email) === false ||
      mensaje.length === 0
    ) {
      return;
    }

    submitter.disabled = true;
    submitter.innerHTML = "Enviando...";
    submitter.classList.add("opacity-70");
    submitter.classList.add("pointer-events-none");
    submitter.classList.add("select-none");

    nombreError.classList.add("hidden");
    emailError.classList.add("hidden");
    mensajeError.classList.add("hidden");
    form.nombre.classList.remove("border-red-500");
    form.email.classList.remove("border-red-500");
    form.mensaje.classList.remove("border-red-500");

    const formData = new FormData();

    formData.append("nombre", nombre);
    formData.append("email", email);
    formData.append("mensaje", mensaje);

    try {
      await actions.send(formData);

      toast.success("Mensaje enviado exitosamente");
      form.reset();
    } catch (error) {
      console.error(error);
      toast.error(
        "Ocurrió un error al enviar el mensaje. Por favor, inténtalo de nuevo.",
      );
    } finally {
      submitter.disabled = false;
      submitter.innerHTML = "Enviar";
      submitter.classList.remove("opacity-70");
      submitter.classList.remove("pointer-events-none");
      submitter.classList.remove("select-none");
    }
  });
</script>
