---
const year = new Date().getFullYear();
import { Picture } from "astro:assets";
import Logo from "../../public/logo.webp";
---

<footer class="bg-moody-blue-950">
  <div
    class="flex flex-col items-center justify-center gap-8 max-w-7xl px-4 md:px-8 mx-auto py-20"
  >
    <div class="flex flex-col gap-4">
      <div class="flex gap-2 items-center justify-center">
        <Picture src={Logo} alt="Logo de Catalina" width="45" />
        <span class="text-lg font-bold text-white">Catalina Herrera</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <p class="text-gray-200 text-sm">Av. Los Pajaritos 666</p>
        <p class="text-gray-200 text-sm">Maipú, Santiago</p>
      </div>
    </div>
    <div class="border-t border-gray-500 w-full"></div>

    <p class="text-gray-200 text-xs text-center">
      © {year} Catalina Herrera. Todos los derechos reservados
    </p>
  </div>
</footer>
