---
import Whatsapp from "../icons/Whatsapp.astro";

interface WhatsappButtonProps {
  href: string;
  text: string;
  textClass: string;
}

const { href, text, textClass } = Astro.props as WhatsappButtonProps;
---

<div class="flex justify-center items-center gap-5">
  <a
    href={href}
    class="bg-green-700 border-1 border-solid text-white px-4 py-3 rounded-full hover:bg-white hover:text-green-700 hover:scale-105 transition-all"
    target="_blank"
    rel="noopener noreferrer"
  >
    <span class="font-semibold flex gap-2 items-center justify-center">
      <Whatsapp />
      <span class={textClass}>{text}</span>
    </span>
  </a>
</div>
