---
import { Toaster } from "sonner";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="/styles/fonts.css" rel="stylesheet" />
		<link
			rel="preload"
			href="/images/Catalina.webp"
			as="image"
			fetchpriority="high"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Catalina Herrera, Terapeuta Ocupacional</title>
	</head>
	<body>
		<slot />
		<Toaster richColors position="bottom-right" client:load />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
</style>
