---
const { title, alt, description, icon } = Astro.props;
import { Picture } from "astro:assets";
---

<article
  class="w-full p-10 flex flex-col items-center rounded-xl shadow-2xl shadow-moody-blue-300 hover:scale-105 transition-all bg-white"
>
  <div
    class="p-4 bg-moody-blue-100 rounded-full flex justify-center items-center"
  >
    <Picture src={icon} alt={alt} class="w-16 h-16" loading="lazy" width={64} />
  </div>
  <h2 class="text-xl font-bold text-moody-blue-700 text-center pt-6">
    {title}
  </h2>
  <p class="text-gray-800">
    {description}
  </p>
</article>
